Flask
Flask-SQLAlchemy
Flask-Marshmallow
marshmallow
marshmallow-sqlalchemy
gunicorn==21.2.0
pytest
pytest-cov
pytest-mock
pytest-flask
python-dotenv
requests
psycopg2-binary
Werkzeug
SQLAlchemy
coverage